//미디어쿼리 브레이크 포인트
$breakpoint-mobile: 335px;
$breakpoint-tablet: 590px;
$breakpoint-desktop: 1024px;

// 블럭 애니메이션 변수
$t: #95c8e0;
$c: #a5dff9;
$p: #cb7fff;
$g: #98D8AA;
$w: #fff;
$r: #FF6D60;
$y: #F7D060;

$blocks:
    // width, height, left, top, color, layer
	(480, 300, 0, 0, $t, 0)
  
    // H
    (20, 30, 10, 10, $r, 1)
    (20, 30, 80, 10, $r, 1)
    (20, 30, 10, 10, $r, 2)
    (20, 30, 80, 10, $r, 2)
    (20, 30, 10, 10, $r, 3)
    (20, 30, 80, 10, $r, 3)
    (20, 30, 10, 10, $r, 4)
    (20, 30, 80, 10, $r, 4)
    (90, 30, 10, 10, $r, 5)
    (20, 30, 80, 10, $r, 5)
    (20, 30, 10, 10, $r, 6)
    (20, 30, 80, 10, $r, 6)
    (20, 30, 10, 10, $r, 7)
    (20, 30, 80, 10, $r, 7)
    (20, 30, 10, 10, $r, 8)
    (20, 30, 80, 10, $r, 8)
    (20, 30, 10, 10, $r, 9)
    (20, 30, 80, 10, $r, 9)

    // E
    (60, 30, 110, 10, $g, 1)
    (10, 30, 110, 10, $g, 2)
    (10, 30, 110, 10, $g, 3)
    (40, 30, 110, 10, $g, 4)
    (10, 30, 110, 10, $g, 5)
    (10, 30, 110, 10, $g, 6)
    (60, 30, 110, 10, $g, 7)

    // L
    (60, 30, 180, 10, $y, 1)
    (10, 30, 180, 10, $y, 2)
    (10, 30, 180, 10, $y, 3)
    (10, 30, 180, 10, $y, 4)
    (10, 30, 180, 10, $y, 5)
    (10, 30, 180, 10, $y, 6)
    (10, 30, 180, 10, $y, 7)

    // L
    (60, 30, 250, 10, $y, 1)
    (10, 30, 250, 10, $y, 2)
    (10, 30, 250, 10, $y, 3)
    (10, 30, 250, 10, $y, 4)
    (10, 30, 250, 10, $y, 5)
    (10, 30, 250, 10, $y, 6)
    (10, 30, 250, 10, $y, 7)

    // O
    (50, 30, 320, 10, $p, 1)
    (10, 30, 320, 10, $p, 2)
    (10, 30, 320, 10, $p, 3)
    (10, 30, 320, 10, $p, 4)
    (10, 30, 320, 10, $p, 5)
    (10, 30, 320, 10, $p, 6)
    (10, 30, 360, 10, $p, 2)
    (10, 30, 360, 10, $p, 3)
    (10, 30, 360, 10, $p, 4)
    (10, 30, 360, 10, $p, 5)
    (10, 30, 360, 10, $p, 6)
    (50, 30, 320, 10, $p, 7)

    // !
    (20, 30, 380, 10, $g, 1)
    (20, 30, 380, 10, $g, 3)
    (20, 30, 380, 10, $g, 4)
    (20, 30, 380, 10, $g, 5)
    (20, 30, 380, 10, $g, 6)
    (20, 30, 380, 10, $g, 6)
    (20, 30, 380, 10, $g, 7)
    (20, 30, 380, 10, $g, 8)
    (20, 30, 380, 10, $g, 9)

    // I'm
    (30, 30, 120, 110, $p, 1)
    (10, 30, 130, 110, $p, 2)
    (10, 30, 130, 110, $p, 3)
    (10, 30, 130, 110, $p, 4)
    (10, 30, 130, 110, $p, 5)
    (7, 30, 158, 110, $p, 5)
    (30, 30, 120, 110, $p, 6)
    (30, 30, 120, 110, $p, 6)
    (50, 30, 180, 110, $p, 4)
    (10, 30, 180, 110, $p, 3)
    (10, 30, 180, 110, $p, 2)
    (10, 30, 180, 110, $p, 1)
    (10, 30, 200, 110, $p, 3)
    (10, 30, 200, 110, $p, 2)
    (10, 30, 200, 110, $p, 1)
    (10, 30, 220, 110, $p, 3)
    (10, 30, 220, 110, $p, 2)
    (10, 30, 220, 110, $p, 1)

    // H
    (20, 30, 10, 250, $r, 1)
    (20, 30, 60, 250, $r, 1)
    (20, 30, 10, 250, $r, 2)
    (20, 30, 60, 250, $r, 2)
    (20, 30, 10, 250, $r, 3)
    (20, 30, 60, 250, $r, 3)
    (20, 30, 10, 250, $r, 4)
    (20, 30, 60, 250, $r, 4)
    (70, 30, 10, 250, $r, 5)
    (20, 30, 60, 250, $r, 5)
    (20, 30, 10, 250, $r, 6)
    (20, 30, 60, 250, $r, 6)
    (20, 30, 10, 250, $r, 7)
    (20, 30, 60, 250, $r, 7)
    (20, 30, 10, 250, $r, 8)
    (20, 30, 60, 250, $r, 8)
    (20, 30, 10, 250, $r, 9)
    (20, 30, 60, 250, $r, 9)

    // E
    (60, 30, 90, 250, $y, 1)
    (10, 30, 90, 250, $y, 2)
    (10, 30, 90, 250, $y, 3)
    (40, 30, 90, 250, $y, 4)
    (10, 30, 90, 250, $y, 5)
    (10, 30, 90, 250, $y, 6)
    (60, 30, 90, 250, $y, 7)

    // E
    (60, 30, 160, 250, $g, 1)
    (10, 30, 160, 250, $g, 2)
    (10, 30, 160, 250, $g, 3)
    (40, 30, 160, 250, $g, 4)
    (10, 30, 160, 250, $g, 5)
    (10, 30, 160, 250, $g, 6)
    (60, 30, 160, 250, $g, 7)

    // J
    (50, 30, 230, 250, $r, 1)
    (6, 30, 230, 250, $r, 2)
    (10, 30, 270, 250, $r, 2)
    (10, 30, 270, 250, $r, 3)
    (10, 30, 270, 250, $r, 4)
    (10, 30, 270, 250, $r, 5)
    (10, 30, 270, 250, $r, 6)
    (10, 30, 270, 250, $r, 7)
    (10, 30, 270, 250, $r, 8)
    (60, 30, 230, 250, $r, 9)

    // U
    (50, 30, 300, 250, $p, 1)
    (10, 30, 300, 250, $p, 2)
    (10, 30, 300, 250, $p, 3)
    (10, 30, 300, 250, $p, 4)
    (10, 30, 300, 250, $p, 5)
    (10, 30, 300, 250, $p, 6)
    (10, 30, 340, 250, $p, 2)
    (10, 30, 340, 250, $p, 3)
    (10, 30, 340, 250, $p, 4)
    (10, 30, 340, 250, $p, 5)
    (10, 30, 340, 250, $p, 6)

    // N
    (10, 30, 360, 250, $y, 1)
    (10, 30, 360, 250, $y, 2)
    (10, 30, 360, 250, $y, 3)
    (10, 30, 360, 250, $y, 4)
    (10, 30, 360, 250, $y, 5)
    (15, 30, 360, 250, $y, 6)
    (10, 30, 395, 250, $y, 1)
    (10, 30, 400, 250, $y, 1)
    (5, 30, 395, 250, $y, 2)
    (10, 30, 400, 250, $y, 2)
    (5, 30, 390, 250, $y, 3)
    (10, 30, 400, 250, $y, 3)
    (5, 30, 385, 250, $y, 4)
    (10, 30, 400, 250, $y, 4)
    (5, 30, 380, 250, $y, 5)
    (10, 30, 400, 250, $y, 5)
    (5, 30, 375, 250, $y, 6)
    (10, 30, 400, 250, $y, 6)

    // G
    (50, 30, 420, 250, $g, 1)
    (10, 30, 420, 250, $g, 2)
    (10, 30, 460, 250, $g, 2)
    (10, 30, 420, 250, $g, 3)
    (10, 30, 460, 250, $g, 3)
    (10, 30, 450, 250, $g, 3)
    (10, 30, 420, 250, $g, 4)
    (10, 30, 420, 250, $g, 5)
    (50, 30, 420, 250, $g, 6)
;